{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="container mb-2">
            <div class="row p-3">
                <div class="col main-rounded mt-3">
                    <h2 class="main-text text-center font-weight-bold p-2">Add Post!</h2>
                </div>
            </div>
            <div class="form-group main-rounded m-3 p-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-rounded font-weight-bold">Post</button>
                    <a href="{% url 'blog' %}"
                        class="btn btn-rounded font-weight-bold">Back</a>
                </form>
            </div>
        </div>
    {% else %}
        <h4>You need to be logged in to post </h4>
    {% endif %}

    <script>
        var name = "{{ user.id }}";
        document.getElementById("author").value = name;
    </script>
{% endblock %}

{% block page_bottom %}
    <div class="container bottom-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}