{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="container mb-2">
                <div class="row">
                    <div class="col main-rounded mt-3">
                        <h2 class="main-text text-center text-uppercase font-weight-bold">Edit Post</h2>
                    </div>
                </div>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %} {{ form.as_p }}
                        <button class="btn btn-rounded font-weight-bold">Update</button>
                        <a href="{% url 'blog' %}"
                            class="btn btn-rounded font-weight-bold">Back</a>
                    </form>
                </div>
            </div>
        {% else %}
            <h4>You cannot edit this post  because  is not yours</h4>
        {% endif %}
    {% endif %}
  {% endblock %}