{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% include 'includes/carousel.html' %}

    <h2 class="col-12 text-center w-75 mx-auto main-rounded font-weight-bold mb-5 p-4">Categories</h2>
    <!-- Detskop Categories -->
    <div class="container main-rounded d-none d-md-block">
        <div class="row justify-content-center">
            {% for category in categories %}
                {% if category.image %}
                    <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
                        <a class="text-decoration-none text-secondary" href="">
                            <img class="h-25 w-25 mb-2 rounded-circle home-categories sticker" src=" {{ category.image.url }} " alt="">
                            <h5 class="text-capitalize rounded-pill text-center">{{ category.name }}</h5>
                        </a>
                    </div>
                {% else %}
                    <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
                        <a class="text-decoration-none text-secondary" href="">
                            <img class="h-25 w-25 mb-2 rounded-circle home-categories" src=" {{ MEDIA_URL }}media/noimage.png " alt="">
                            <h5 class="text-center rounded-pill text-capitalize">{{ category.name }}</h5>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}


<!-- Mobile Categories -->
{% block categories %}
    {% include 'includes/mobile-category.html' %}
{% endblock %}


{% block page_bottom %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
