{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Buy now and Read now btn -->
    <div class="container mt-5 ">
        <div class="container h-75 rounded-main ">
            <div class="row h-75">
                <div class="col-12 mt-5 mb-5  text-center">
                    <h1 class="text-center font-weight-bold">
                        All you need on one place!
                    </h1>
                </div>
                <div class="row h-50 text-center mx-auto">
                    <div class="col-lg-10 mx-auto">
                        <img class="col-12" src=" {{ MEDIA_URL }}media/parts-bg.png " alt="">
                        <div class="col-lg-12">
                            <h4 class="mt-5">
                                <a href="" class="shop-now-button btn btn-lg text-uppercase mb-3">Shop Now</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col mb-5">
                <hr class="mt-5 mb-5 w-75">
            </div>
        </div>
    </div>
    <h2 class="col-12 text-center w-75 mx-auto rounded-main font-weight-bold mb-5 p-4">Categories</h2>
    <!-- Detskop Categories -->
    <div class="container rounded-main d-none d-md-block">
        <div class="row justify-content-center">
            {% for category in categories %}
                {% if category.image %}
                    <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3">
                        <a class="text-decoration-none text-secondary" href="">
                            <img class="h-25 w-25 mb-2 rounded-circle home-categories sticker" src=" {{ category.image.url }} " alt="">
                            <h5 class="text-capitalize text-center">{{ category.name }}</h5>
                        </a>
                    </div>
                {% else %}
                    <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3">
                        <a class="text-decoration-none text-secondary" href="">
                            <img class="h-25 w-25 mb-2 rounded-circle home-categories" src=" {{ MEDIA_URL }}media/noimage.png " alt="">
                            <h5 class="text-center text-capitalize">{{ category.name }}</h5>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}


<!-- Mobile Categories -->
{% block categories %}
    {% include 'includes/mobile-category.html' %}
{% endblock %}


{% block page_bottom %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
