{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
      <div class="row h-75">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                New Stuff is here!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Read More</a>
                </h4>
            </div>
        </div>
      </div>
      <div class="row justify-content-center text-center text-warning ">
          <div class="col-3 category rounded">Motherboards</div>
          <div class="col-3 category rounded">Processors</div>
          <div class="col-3 category rounded">Memory</div>
          <div class="col-3 category rounded">Graphic Cards</div>
          <div class="col-3 category rounded">Storage</div>
          <div class="col-3 category rounded">Power Supplies</div>
          <div class="col-3 category rounded">Cases</div>
          <div class="col-3 category rounded">Monitors</div>
          <div class="col-3 category rounded">Mouses</div>
          <div class="col-3 category rounded">Keyboards</div>
          <div class="col-3 category rounded">Coolers</div>
      </div>
    </div>

{% endblock %}