

<!-- Specification -->


    {% if spec.spec_1  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_1_name }} - {{ spec.spec_1 }}</small></p>
    {% endif %}
    {% if spec.spec_2  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_2_name }} - {{ spec.spec_2 }}</small></p>
    {% endif %}
    {% if spec.spec_3  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_3_name }} - {{ spec.spec_3 }}</small></p>
    {% endif %}
    {% if spec.spec_4  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_4_name }} - {{ spec.spec_4 }}</small></p>
    {% endif %}
    {% if spec.spec_5  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_5_name }} - {{ spec.spec_5 }}</small></p>
    {% endif %}
    {% if spec.spec_6  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_6_name }} - {{ spec.spec_6 }}</small></p>
    {% endif %}
    {% if spec.spec_7  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_7_name }} - {{ spec.spec_7 }}</small></p>
    {% endif %}
    {% if spec.spec_8  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_8_name }} - {{ spec.spec_8 }}</small></p>
    {% endif %}
    {% if spec.spec_9  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_9_name }} - {{ spec.spec_9 }}</small></p>
    {% endif %}
    {% if spec.spec_10  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_10_name }} - {{ spec.spec_10 }}</small></p>
    {% endif %}
    {% if spec.spec_11  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_11_name }} - {{ spec.spec_11 }}</small></p>
    {% endif %}
    {% if spec.spec_12  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_12_name }} - {{ spec.spec_12 }}</small></p>
    {% endif %}
    {% if spec.spec_13  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_13_name }} - {{ spec.spec_13 }}</small></p>
    {% endif %}
    {% if spec.spec_14  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_14_name }} - {{ spec.spec_14 }}</small></p>
    {% endif %}
    {% if spec.spec_15  %}
        <p class="card-text mt-3"><small class="text-muted">{{ spec.spec_15_name }} - {{ spec.spec_15 }}</small></p>
    {% endif %}
