

<!-- Specification Detail -->


<div class="col-6">
    <ul class="list-group">
        {% if specification.spec_1  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 1</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_1_name }}</small></li>
        {% endif %}
        {% if specification.spec_2  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 2</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_2_name }}</small></li>
        {% endif %}
        {% if specification.spec_3  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 3</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_3_name }}</small></li>
        {% endif %}
        {% if specification.spec_4  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 4</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_4_name }}</small></li>
        {% endif %}
        {% if specification.spec_5  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 5</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_5_name }}</small></li>
        {% endif %}
        {% if specification.spec_6  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 6</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_6_name }}</small></li>
        {% endif %}
        {% if specification.spec_7  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 7</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_7_name }}</small></li>
        {% endif %}
        {% if specification.spec_8  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 8</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_8_name }}</small></li>
        {% endif %}
        {% if specification.spec_9  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 9</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_9_name }}</small></li>
        {% endif %}
        {% if specification.spec_10  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 10</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_10_name }}</small></li>
        {% endif %}
        {% if specification.spec_11  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 11</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_11_name }}</small></li>
        {% endif %}
        {% if specification.spec_12  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 12</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_12_name }}</small></li>
        {% endif %}
        {% if specification.spec_13  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 13</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_13_name }}</small></li>
        {% endif %}
        {% if specification.spec_14  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 14</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_14_name }}</small></li>
        {% endif %}
        {% if specification.spec_15  %}
            <small class="text-muted text-left ml-2 mb-1">Specification 15</small>
            <li class="list-group-item"><small class="main-text">{{ specification.spec_15_name }}</small></li>
        {% endif %}
    </ul>
</div>
