

<!-- Categories -->


<div class="container main-rounded d-none d-md-block">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=motherboard">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories sticker" src=" {{ MEDIA_URL }}010-computer-chip.png "
                    alt="motherboard-icon">
                <h5 class="text-capitalize main-rounded-ns text-center">Motherboards</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=processor">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}002-cpu.png "
                    alt="processor-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Processors</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=graphic_card">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}045-cooler.png "
                    alt="graphic-card-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Graphic Card</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=memory">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}047-Ram_Memory.png "
                    alt="memory-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Memory</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=storage">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}001-ssd_card.png "
                    alt="storage-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Storage</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=power_supply">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}008-computer_hardware.png "
                    alt="power-supply-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Power Supply</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=case">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}012-cpu.png "
                    alt="cases-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Cases</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=monitor">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}029-monitor.png "
                    alt="monitors-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Monitors</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=mouse">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}049-mouse.jpg "
                    alt="mouse-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Mouses</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=keyboard">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}014-keyboard.png "
                    alt="keyboard-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Keyboards</h5>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 text-center h-25 mt-3 mb-3 cat-hover">
            <a class="text-decoration-none text-secondary" href="{% url 'products' %}?category=cooler">
                <img class="h-25 w-25 mb-2 rounded-circle home-categories"  src=" {{ MEDIA_URL }}046-cooler.png "
                    alt="coolers-icon">
                <h5 class="text-center main-rounded-ns text-capitalize">Coolers</h5>
            </a>
        </div>
    </div>
</div>
