html {
    height: 100%;
}


body {
    background-size: cover;
    height: calc(100vh - 168px);
    background-color: var(--app-color);
    font-family: 'Noto Sans JP', sans-serif;
}

/* Site Colours */
:root {
    /* Main bg light blue */
    --app-color: #f3f6fd;
    /* Main dark bg and text color */
    --main-color: #1f1c2e;
    /* Container color white  */
    --main-white: #fff;
    /* Main hover btn */
    --main-btn-hover-red: #fee4cb;
    /* Main shadow */
    --main-shadow:  0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
    /* Second-shadow for elements on hover */
    --second-shadow: 0 2px 6px 0 rgb(0 0 0), 0 24px 20px -24px rgb(71 82 107 / 10%);
}

/* Font size */
h1 {
    font-size: 2rem;
}

/*  Main Font  */
.main-logo-font {
    font-family: 'Press Start 2P', cursive;
}


.main-logo-link {
    width: fit-content;
}


/* Custom class to apply dark color on text */
.main-text {
    color: var(--main-color);
}


/* Custom class to apply app-color */
.app-color {
    background-color: var(--app-color);
}


/* Custom class to apply bg main dark color */
.main-color {
    background-color: var(--main-color);
}


/* To apply color on main-nav links */
.nav-link {
    color: var(--main-color);
}


.main-white {
    background-color: var(--main-white)!important;
}


/* To add shadow to elements */
.main-shadow {
    box-shadow: var(--main-shadow);
}


.search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--input-area-bg);
    color: var(--main-color);
}


.search-wrapper {
    border-radius: 20px;
    background-color: var(--main-white);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--light-font);
    box-shadow: var(--main-shadow);
    overflow: hidden;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.search-icon:hover {
    background-color: var(--main-color);
    color: var(--main-white);
    box-shadow: var(--second-shadow);
}

/* Logo and account hover */
.nav-link:hover {
    background-color: var(--main-color);
    color: var(--main-white)!important;
    border-radius: 20px;
    box-shadow: var(--second-shadow);
}

.nav-link:hover > h2 {
    background-color: var(--main-color);
    color: var(--main-white)!important;
    border-radius: 20px;
}
    

/* Icons inverted on hover */
.nav-link:hover  .main-text  {
    color: var(--main-white);
}


/* Categories hover */
.cat-hover:hover > a > h5 {
    background-color: var(--main-color);
    box-shadow: var(--second-shadow);
    color: var(--main-white);
}


/* Main nav hover */
.dropdown:hover > .font-weight-bold {
    background-color: var(--main-color);
    color: var(--main-white);
    box-shadow: var(--second-shadow);
}

/* Dropdown items on hover */
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--main-white);
    text-decoration: none;
    background-color: var(--main-color);
}

/* Product image on hover */
.card:hover > .card-body > .text-center {
    background-color: var(--main-color);
    box-shadow: var(--second-shadow);
    color: var(--main-white);
    border-radius: 1rem;
}

/* Toggler icon */
.navbar-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(31, 28, 46)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* .main-logo-link:hover {
    background-color: var(--app-color);
    color: var(--main-color)!important;
    box-shadow: none;
} */


/* INSPIRATION */
/* https://uxplanet.org/top-ui-ux-design-inspiration-138-90703cf88472 */

/* COLORS AND CHUNKS OF CODE */
/* https://codepen.io/aybukeceylan/pen/OJRNbZp */

:root {
/*   --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e; */
  /* --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff; */
}


/* Buttons style */
.shop-now-button {
    background: var(--main-color);
    color: var(--app-color);
}


/* Buttons Style */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: var(--app-color);
    color:  var(--main-color);
    box-shadow: var(--second-shadow);
}

 /* Index categories animation:
    IF transform is uncommented
    animation will be zoom and breath!!
 */
 
/* Categories zoom in out*/
.home-categories:hover {
    /* -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); */
    box-shadow: 0px 0px 10px var(--main-color);
    animation: spin 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}


@keyframes spin {
  100% {transform: rotate(1turn); }
}

/* To control product image size */
.product-image {
    height: 220px;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 235px;
    }

    .bottom-container {
        padding-top: 50px;
    }
}

/* Mobile */
@media (max-width: 992px) {

    .header-container {
        padding-top: 215px;
    }

    .bottom-container {
        padding-top: 50px;
    }

    .main-rounded {
        border-radius: 20px !important;
    }
}



