

html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 168px);
    background-color: var(--app-color);
    font-family: 'Noto Sans JP', sans-serif;
}

/* Font size */

h1 {
    font-size: 2rem;
}

.search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    font-size: 16px;
    background-color: var(--main-white)!important;
    color: var(--main-color);
}

.search-wrapper {
    border-radius: 20px;
    background-color: var(--main-white);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--light-font);
    box-shadow: var(--main-shadow);
    overflow: hidden;
}

/* To override dropdown search on mobile screen*/

.search-mobile-dropdown {
    top: 100%!important;
    left: 0px!important;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Main nav dropdown */

.dropdown-menu {
    top: 90%;
    left: -32px;
    border: none;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: var(--main-shadow);
}

/* Delivery-banner shadow */
#delivery-banner {
    box-shadow: 0px 20px 20px -23px rgb(0 0 0 / 67%), 0 24px 20px -300px rgb(71 82 107 / 10%)!important;
}

/* Toggler icon */

.navbar-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(31, 28, 46)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

 /* Index categories animation:
    IF transform is uncommented
    animation will be zoom in out!!
 */
 
/* Categories zoom in out*/

.home-categories:hover {
    /* -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); */
    box-shadow: 0px 0px 10px var(--main-color);
    animation: spin 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}


/* To control product image size on all-products */

.card-img-top {
    height: 250px;
    width: 350px;
}



/* Brand Logo image size on product-detail */

.brand-logo {
    height: 90px;
}

.brand-logo:hover {
    transform: scale(1.7);
}

/* Breadcrumb color overwrite */

.breadcrumb {
   background-color: var(--main-white);
}

/* Table custom style */

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--main-white);
}

/* To remove borders from table items */

.table td, .table th {
    border-top: none;
}

/* Scroll to top button */

.scroll-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
}

/* Cursor pointer on links */

.update-link,
.remove-item,
.scroll-link {
    cursor: pointer;
}

/* Bootstrap toasts */

.message-container {
    position: fixed;
    top: 123px;
    right: 1rem;
    z-index: 99999999999;
    margin-right: calc( 13vw - 9%);
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 10px;
}

/* Empty bag toasts */

.error-empty-bag-toast,
.warning-empty-bag-toast,
.success-empty-bag-toast,
.info-empty-bag-toast {
    position: relative;
    top: 265px;
}

.error-toast-empty,
.warning-toast-empty,
.success-toast-empty,
.info-toast-empty {
    max-width: 800px;
}

.error-toast-empty-shadow {
    box-shadow: var(--error-shadow);
}

.warning-toast-empty-shadow {
    box-shadow: var(--warning-shadow);
}

.success-toast-empty-shadow {
    box-shadow: var(--success-shadow);
}

.info-toast-empty-shadow {
    box-shadow: var(--info-shadow);
}

.error-toast-empty-header,
.warning-toast-empty-header,
.success-toast-empty-header,
.info-toast-empty-header {
    font-size: 25px;
}

.toast-info {
    width: 240px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #b7b7b7;
    border-radius: 2rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: var(--bs-danger);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    border-radius: 0;
}

/* Footer */

.social-link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 87px;
}

.social-icon {
    font-weight: 400;
    color: var(--bs-info);
}

.social-icon:hover {
    color: var(--main-white);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
}

.social-ul {
    padding: 0;
}

footer {
	font-size: 1rem;
}

.white-hr {
    background-color: var(--main-white);
}

.footer-container {
    background-color: var(--main-color);
    color: var(--main-white);
    box-shadow: var(--second-shadow);
}

.footer-header {
	font-size: 1.5rem;
}

.footer-phone-header,
.footer-email-header {
    color: var(--main-white);
}

.footer-phone,
.footer-email {
    color: var(--bs-info);
}

.social-link:nth-child(odd) {
	margin: 0 0.5rem;
}

.footer-phone:hover {
    color: var(--bs-info);
    text-decoration: none;
    cursor: inherit;
}


/* Product view style */

.product-list-img {
    width: 200px;
}

.product-grid-img {
    width: 200px;
    height: 150px;
}

.grid-product:hover > a > .product-name {
    background: var(--main-color);
    color: var(--app-color);
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: var(--second-shadow);
    transform:scale(1.1);
}

.listLayout:hover > .row > .col-sm-4 > .row > .col-12 > a > p {
    background: var(--main-color);
    color: var(--app-color);
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: var(--second-shadow);
    transform:scale(1.1);
}


/* Media Queries */

/* To control logo size on small screens and nav items */

@media (max-width: 320px) {

    .brand-logo {
        height: 70px;
   }

    .nav-link {
        padding: 0px;
   }

    .error-empty-bag-toast,
    .warning-empty-bag-toast,
    .success-empty-bag-toast,
    .info-empty-bag-toast {
        position: relative;
        top: 170px;
        margin: 10px;
    }
}

@media (max-width: 402px) {

    .nav-link {
        padding: 0px;
   }
}

/* Custom margin-top class for small devices
    Bootstrap class is not working ? */

@media (max-width: 768px) {

    .error-empty-bag-toast,
    .warning-empty-bag-toast,
    .success-empty-bag-toast,
    .info-empty-bag-toast {
        position: relative;
        top: 170px;
        margin: 10px;
    }

}

/* Fixed top navbar only on medium and up */

@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 250px;
    }

    .bottom-container {
        padding-top: 50px;
    }
}

/* Mobile */

@media (max-width: 992px) {

    .header-container {
        padding-top: 155px;
    }

    .bottom-container {
        padding-top: 50px;
    }

    .main-rounded {
        border-radius: 20px !important;
    }

    .error-empty-bag-toast,
    .warning-empty-bag-toast,
    .success-empty-bag-toast,
    .info-empty-bag-toast {
        position: relative;
        top: 170px;
        margin: 10px;
    }
}

/* Media Queries to control element push and size of banner on laptops screens */

@media (min-width: 1024px) {

    .banners {
        max-width: 90%;
    }

}

/* Slightly larger container on xl screens */

@media (min-width: 1200px) {

  .container {
    max-width: 80%;
  }
}
