html {
    height: 100%;
}

body {
    /* background-color: yellow; */ /* ADD BACKGROUND */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Site Colours */
:root {
  --main-color: #343a40;
  --second-color: #ffc107;
  --bootstrap-info: #17a2b8;
}

/* Homepage Categories  */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*  Press Start 2P Google font  */
.main-logo-font {
    font-family: 'Press Start 2P', cursive;
}

.main-logo-link {
    width: fit-content;
}

/* Buttons style */
.shop-now-button {
    background: var(--main-color);
    color: var(--second-color);
    min-width: 260px;
}

/* Button dark */
.btn-dark {
    background: var(--main-color);
    color: var(--second-color);
}

/* Buttons Style */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background: var(--second-color);
    color:  var(--main-color);
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}