

.thumb-img {
    height: 100px;
    width: 100px;
}


 /* Brand logo size */
.brand_thumb {
    height: 80px;
    width: 80px;
    border-radius: 1.5rem;
    background-color: var(--main-white);
}

/* Banner size */
.banner {
    width: 80px;
    height: auto;
}

/* Form control bg color and radius */
.form-control {
    background-color: var(--app-color);
    border-radius: 2rem;
}

/* BRAND BUTTON */

/* Brand card on hover */
.brand-link:hover > .main-rounded {
    background: var(--main-color);
    color: var(--app-color);
    text-decoration: none;
    box-shadow: var(--second-shadow);
    transform:scale(1.1);
}


/* To remove blue color from brand name and underline */
a:hover {
    color: none;
    text-decoration: none;
}