

/* SETUP STYLES */

/* Navigation link buttons
    Preventing text to wrap in new line on small breakpoints!
    Check if usable? Bugs ?
    
*/

.header,
.feature-card,
.btn-link-setup {
    min-width: max-content;
}

/* Function btn styles */

.active {
    background-color:  var(--bs-info)!important;
}

.hidden {
    display: none;
}

.btn-view {
    color: var(--bs-info)!important;
}

.btn-edit {
    color: var(--bs-warning)!important;
}

.btn-delete {
    color: var(--bs-danger)!important;
}

.btn-delete:hover {
    color: var(--main-color)!important;
    background-color: var(--bs-danger)!important;
}

.btn-edit:hover {
    color: var(--main-color)!important;
    background-color: var(--bs-warning)!important;
}

.btn-view:hover {
    color: var(--main-color)!important;
    background-color: var(--bs-info)!important;
    font-weight: 700;
}

/* BRAND STYLES */

/* Small icons for detail page */

.thumb-img {
    height: 100px;
    width: 100px;
}

/* Banner size */

.banner {
    width: 80px;
    height: auto;
}

/* Form control bg color and radius */

.form-control {
    background-color: var(--app-color);
    border-radius: 2rem;
}

/* BRAND BUTTON */

/* Brand card on hover */
.category-link:hover > .main-rounded, 
.brand-link:hover > .main-rounded {
    background: var(--main-color);
    color: var(--app-color);
    text-decoration: none;
    box-shadow: var(--second-shadow);
    transform:scale(1.1);
}

.brand-link:hover > .media > img {
    background-color: white;
    border-radius: 2.5rem;
}



/* To remove blue color from brand name and underline */

a:hover {
    color: none;
    text-decoration: none;
}


/* CATEGORY */

/* Categories and brands image radius on admin categories page */
.brand_thumb,
.category_thumb {
    height: 80px;
    width: 80px;
    border-radius: 2.5rem;
    background-color: var(--main-white);
}

/* Category image when hover on grid layout */
.card.main-rounded:hover > .row > .col > img {
    transform:scale(1.3);
}

.category-list-img {
    width: 64px;
    height: 64px;
    border-radius: 2.5rem;
}
