/* INSPIRATION */
/* https://uxplanet.org/top-ui-ux-design-inspiration-138-90703cf88472 */

/* COLORS AND CHUNKS OF CODE */
/* https://codepen.io/aybukeceylan/pen/OJRNbZp */

:root {
/*   --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e; */
  /* --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover:  #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff; */
}


/* Site Colours */
:root {
    /* Main bg light blue */
    --app-color: #f3f6fd;
    /* Main dark bg and text color */
    --main-color: #1f1c2e;
    /* Container color white  */
    --main-white: #fff;
    /* Main hover btn */
    --main-btn-hover-red: #fee4cb;
    /* Main shadow */
    --main-shadow:  0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
    /* Second-shadow for elements on hover */
    --second-shadow: 0 2px 6px 0 rgb(0 0 0), 0 24px 20px -24px rgb(71 82 107 / 10%);
}


/* MAIN COLORS AND STYLE */

/*  Main Font  */
.main-logo-font {
    font-family: 'Press Start 2P', cursive;
}

.main-logo-link {
    width: fit-content;
}

/* Custom class to apply dark color on text */
.main-text {
    color: var(--main-color);
}

.main-text-white {
    color: var(--main-white);
}

/* Custom class to apply app-color */
.app-color {
    background-color: var(--app-color);
}

/* Custom class to apply bg main dark color */
.main-color {
    background-color: var(--main-color);
}

/* To apply color on main-nav links */
.nav-link {
    color: var(--main-color);
}

.main-white {
    background-color: var(--main-white)!important;
}

/* To add shadow to elements */
.main-shadow {
    box-shadow: var(--main-shadow);
}

/* https://www.digitalocean.com/community/tutorials/css-position-sticky */
.main-sticky {
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-end;
    bottom: 15rem;
}

/* HOVER BTN EFFECTS */

/* To override my styles because icon is comming from white background */
.search-icon {
    color: #1f1c2e!important;
}

.search-icon:hover {
    background-color: var(--main-color)!important;
    color: var(--main-white)!important;
    box-shadow: var(--second-shadow);
}

/* Logo and account hover */
.nav-link:hover {
    background-color: var(--main-color);
    color: var(--main-white)!important;
    border-radius: 20px;
    box-shadow: var(--second-shadow);
}

.nav-link:hover > h2 {
    background-color: var(--main-color);
    color: var(--main-white)!important;
    border-radius: 20px;
}
    
/* Icons inverted on hover */
.nav-link:hover  .main-text  {
    color: var(--main-white);
}

/* Categories hover */
.cat-hover:hover > a > h5 {
    background-color: var(--main-color);
    box-shadow: var(--second-shadow);
    color: var(--main-white);
}

/* Main nav hover */
.dropdown:hover > .font-weight-bold {
    background-color: var(--main-color);
    color: var(--main-white);
    box-shadow: var(--second-shadow);
}

/* Dropdown items on hover */
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--main-white);
    text-decoration: none;
    background-color: var(--main-color);
}

/* Product image on hover */
.card:hover > .card-body > .text-center {
    background-color: var(--main-color);
    box-shadow: var(--second-shadow);
    color: var(--main-white);
    border-radius: 1rem;
}

/* BUTTONS STYLE */

.btn,
.shop-now-button {
    background: var(--main-color);
    color: var(--app-color);
}

.btn:hover,
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: var(--app-color);
    color:  var(--main-color);
    box-shadow: var(--second-shadow);
}


/* CUSTOM ROUNDED CLASSES */

/* To add rounded borders and bg color to container */
.main-rounded {
    background-color: var(--main-white);
    box-shadow: var(--main-shadow);
    border-radius: 2rem;
}

/* Used because search bar  */
.main-rounded-ns {
    border-radius: 2rem;
    background-color: var(--main-white);
}

.btn-rounded {
    border-radius: 2rem;
}

/* Increment btn radius */
.increment-qty {
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
}

/* To add bottom radius left and right on container */
.main-radius-bottom {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.banners {
    box-shadow: var(--second-shadow);
}