

<!-- Footer -->


<footer>
    <div class="container-fluid footer-container d-lg-none main-radius-top mt-5">
        <div class="row ">
            <div class="col-12 mt-3">
                <h5 class="footer-header text-center">Contact us</h5>
                <hr class="white-hr">
            </div>
            <div class="col-12 order-sm-2 col-sm-6 order-md-1 col-md-4 text-center">
                <p class="footer-email-header">Email: </p>
                <a class="footer-email" href="mailto:tech-cloud-onlineshop@net.com">tech-cloud-onlineshop@net.com</a></p>
            </div>
            <div class="col-12 order-sm-2 col-sm-6 order-md-3 col-md-4 text-center">
                <p class="footer-phone-header">Phone:</p> 
                <p class="footer-phone">+3537674567</p>
            </div>
            <div class="col-12 order-sm-3 order-md-2 col-md-4 text-center">
                <ul class="text-center social-ul mt-3">
                    <li class="social-link"> <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin social-icon fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-12 order-sm-4 order-md-4">
                <p class="footer-copyright text-center"><small>Ivan Tepes © Copyright 2020</small></p>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-container d-none d-md-none d-lg-block main-radius-top mt-5">
        <div class="row">
            <div class="col-12 pt-3 mb-2">
                <h5 class="footer-header text-center">Contact us</h5>
                <hr class="white-hr">
            </div>
            <div class="col-4 text-center footer-email-header">
                <p>Email: <a class="footer-email" href="mailto:tech-cloud-onlineshop@net.com">tech-cloud-onlineshop@net.com</a></p>
            </div>
            <div class="col-4 text-center">
                <ul class="text-center social-ul">
                    <li class="social-link"> <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin social-icon fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-4 text-center footer-phone-header">
                <p>Phone: <a class="footer-phone"  href="">+3537674567</a></p>
            </div>
            <div class="col-12 pb-4 text-center">
                <p class="footer-copyright"><small>Ivan Tepes © Copyright 2020</small></p>
            </div>
        </div>
    </div>
</footer>