

<div class="collapse navbar-collapse main-rounded" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-center" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu mr-3" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-center" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="clothing-link">
                {% for category in categories %}
                    {% if category %}
                         <a href="" class="dropdown-item text-center">{{ category.friendly_name  }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-center" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
        </li>
        <li class="nav-item dropdown mr-3">
            <a class="font-weight-bold nav-link text-center" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>

