{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/setup.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-12 col-md-10 text-center mt-4 mx-auto">
                <h2 class="text-center main-rounded font-weight-bold p-3">Specs</h2>
            </div>
        </div>
        <!-- Button row -->
        <div class="row mx-auto mt-1 mb-3">
            <div class="col-sm-8 col-md-10 mx-auto">
                <div class="text-center">
                    <div class="row justify-content-around">
                        <a href="{% url 'specifications' %}" class="btn-link-setup col-sm-6 col-md-3 col-lg-3 my-3 mx-3 btn btn-rounded mb-3" >Specifications</a>
                        <a href="{% url 'add_spec' %}" class="btn-link-setup col-sm-6 col-md-3 col-lg-3 my-3 mx-3 btn btn-rounded mb-3" >Add Spec</a>
                        <a href="{% url 'add_product' %}" class="btn-link-setup col-sm-6 col-md-2 col-lg-3 my-3 mx-3 btn btn-rounded mb-3">Product Management</a>
                    </div>
                </div>
            </div>          
        </div>
        <div class="container mt-4">
            <div class="row justify-content-center">
                {% for spec in specs %}
                    {% if spec %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled">
                                <li class="media main-rounded">
                                    <button type="button" class="btn-delete font-weight-bold btn-rounded btn m-3" data-toggle="modal" data-target="#delete-modal_{{ spec.id }}">
                                        Delete
                                    </button>
                                    <div class="media-body mt-1">
                                        <h5 class=" mt-2 text-center">{{ spec.name }}</h5>
                                    </div>
                                </li>
                            </ul>
                            <!-- Button trigger modal -->
                            <div class="row text-center">
                                <div class="col">
                                    <div class="modal fade" id="delete-modal_{{ spec.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mx-auto" id="exampleModalCenterTitle">
                                                    <p class="text-center">Are you sure you want to delete this spec?</p>
                                                    <p class="text-danger font-weight-bold text-center ml-4">{{ spec.name }}</p>
                                                </h5>
                                                <button type="button" class="close btn-rounded ml-0" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <a type="button" href="{% url 'delete_spec' spec.id %}" class="btn-delete font-weight-bold btn-rounded btn m-3">Delete</a>
                                                <button type="button" class="btn-info font-weight-bold btn-rounded btn m-3" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="scroll-button btn btn-rounded border border-black">
        <a class="scroll-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}


{% block page_bottom %}
    <div class="container bottom-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<!-- Scroll Button -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.scroll-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    <script src="{% static 'js/change_layout.js' %}"></script>
{% endblock %}
