{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/setup.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col text-center mt-4">
                <h2 class="col-12 text-center w-75 mx-auto main-rounded font-weight-bold mb-3 p-3">Brands</h2>
            </div>
        </div>
        <div class="row mx-auto mt-1 mb-3">
            <div class="col-6 mx-auto">
                <div class="text-center">
                    <div class="row justify-content-around">
                        <a href="{% url 'add_brand' %}" class="col-sm-6 col-lg-3 my-3 btn btn-rounded mb-3" >Add Brand</a>
                        <a href="{% url 'add_product' %}" class="col-sm-6 col-lg-3 my-3 btn btn-rounded mb-3">Product Management</a>
                    </div>
                </div>
            </div>            
        </div>
        <div class="container">
           <div class="row justify-content-center">
            {% for brand in brands %}
                {% if brand %}
                    <a class="brand-link main-text btn-rounded" href="{% url 'brand_detail' brand.id %}">
                        <div class="card main-rounded p-3 m-3" style="width: 18rem;">
                            <h5 class="card-title text-center font-weight-bold mt-3">{{ brand.name }}</h5>
                            <hr>
                            <div class="row">
                                <div class="col my-auto text-center">
                                    {% if brand.brand_logo %}
                                        <img src="{{ brand.brand_logo.url }}" class="brand_thumb" alt="{{ brand.friendly_name }}">
                                    {% else %}
                                        <img class="brand_thumb img-fluid my-auto" src="{{ MEDIA_URL }}noimage.png" alt="noimage.png">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="scroll-button btn btn-rounded border border-black">
        <a class="scroll-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}


{% block page_bottom %}
    <div class="container bottom-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<!-- Scroll Button -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.scroll-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}

