{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/setup.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <!-- Header -->
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col text-center mt-4">
                <h2 class="col-12 text-center w-75 mx-auto main-rounded font-weight-bold mb-3 p-3">Categories</h2>
            </div>
        </div>
        <!-- Button row -->
        <div class="row mx-auto mt-1 mb-3">
            <div class="col-8 mx-auto">
                <div class="text-center">
                    <div class="row justify-content-around">
                        <a href="{% url 'categories' %}" class="btn-link-setup col-sm-6 col-md-3 col-lg-3 my-3 mx-3 btn btn-rounded mb-3" >Categories</a>
                        <a href="{% url 'add_product' %}" class="btn-link-setup col-sm-6 col-md-2 col-lg-3 my-3 mx-3 btn btn-rounded mb-3">Product Management</a>
                    </div>
                </div>
            </div>            
        </div>
        <!-- Categories -->
        <div class="container">
           <div class="row mx-auto">
                <div class="col main-rounded">
                    <h4 class="text-center w-75 mx-auto font-weight-bold p-2 mt-3">{{ category.friendly_name }}</h4>
                    <hr>
                    <div class="card mx-auto my-3 border-0">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" class="thumb-img img-fluid mx-auto" alt="{{ category.name }}">
                        {% else %}
                            <img class="thumb-img img-fluid mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
                        {% endif %}
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="button" class="btn-delete font-weight-bold btn-rounded btn m-3" data-toggle="modal" data-target="#delete-modal_{{ category.id }}">
                                Delete
                            </button>
                            <a href="{% url 'edit_category' category.id %}" class="btn-edit font-weight-bold btn-rounded btn m-3">Edit</a>
                            <div class="modal fade" id="delete-modal_{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mx-auto" id="exampleModalCenterTitle">
                                            <p class="text-center">Are you sure you want to delete this category?</p>
                                            <p class="text-danger font-weight-bold text-center ml-4">{{ category.friendly_name }}</p>
                                        </h5>
                                        <button type="button" class="close btn-rounded ml-0" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        {% if category.image %}
                                            <img src="{{ category.image.url }}" class="h-50 w-50" alt="">
                                        {% else %}
                                            <img class="thumb-img img-fluid my-auto" src="{{ MEDIA_URL }}noimage.png" alt="noimage.png">
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <a type="button" href="{% url 'delete_category' category.id %}" class="btn-delete font-weight-bold btn-rounded btn m-3">Delete</a>
                                        <button type="button" class="btn-info font-weight-bold btn-rounded btn m-3" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
           </div>
        </div>
    </div>
    
    <!-- Scroll Button -->
    <div class="scroll-button btn btn-rounded border border-black">
        <a class="scroll-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}


{% block page_bottom %}
    <div class="container bottom-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<!-- Scroll Button Script -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.scroll-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
