{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mt-5">
                    <div class="col text-center mt-4">
                        <h2 class="col-12 text-center w-75 mx-auto main-rounded font-weight-bold mb-3 p-3">Add Product</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-rounded mx-auto mt-3">
            <div class="col-sm-10 col-md-8 mx-auto mt-3">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'key_feature' %}
                            <div class="row justify-content-center">
                                <div class="mb-5 mx-3">
                                    <a class="btn btn-rounded " href="{% url 'add_brand' %}">Add Brand</a>
                                </div>
                                <div class="mb-5 mx-3">
                                    <a class="btn btn-rounded" href="{% url 'brands' %}">View All Brands</a>
                                </div>
                            </div> 
                        {% endif %}
                        {% if field.name == 'chipset_logo' %}
                            <div class="row justify-content-center">
                                <div class="mb-5 mx-3">
                                    <a class="btn btn-rounded " href="{% url 'add_keyfeatures' %}">Add Key Feature</a>
                                </div>
                                <div class="mb-5 mx-3">
                                    <a class="btn btn-rounded" href="{% url 'add_feature' %}">Add Feature</a>
                                </div>
                                <div class="mb-5 mx-3">
                                    <a class="btn btn-rounded" href="{% url 'keyfeatures' %}">View All Key Features</a>
                                </div>
                            </div> 
                        {% endif %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-rounded" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-rounded" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block page_bottom %}
    <div class="container bottom-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}