

<!-- Toasts Success-->


{% if not bag_items %}
    <div class="error-empty-bag-toast mb-3">
        <div class="toast custom-toast error-toast-empty error-toast-empty-shadow btn-rounded mx-auto" data-autohide="false">
            <div class="w-75 mx-auto toast-capper bg-danger main-radius-bottom"></div>
            <div class="toast-header error-toast-empty-header main-radius-top main-text">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-7 text-right">
                            <strong class="mx-auto">Error!</strong>
                        </div>
                        <div class="col-2 offset-3">
                            <button type="button" class="ml-2 mb-1 close main-text" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toast-body font-weight-bold text-center">
                <div class="row">
                    <div class="col text-muted">
                        {{ message }}
                        <hr class="mt-1 mb-3">
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endif %} 
 