<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> {{ title }} </title>
</head>
<body>

    
    <h2  align="center" valign="top">Welcome {{ newsletter.name }} to Tech Cloud Newsletter</h2>
    <p align="center" > You'll be the first to hear about our new arrivals, special offers 
        upcomming sales and all the latest news.
    </p>

    <p align="center"><a align="center" style="color: #17a2b8;" href="https://tech-cloud-e-shop.herokuapp.com/">SHOP NOW!</a></p>
    <h6 align="center"><a align="center" href="https://tech-cloud-e-shop.herokuapp.com/">Unsubscribe!</a></h6>
    
    
</body>
</html>